:root {
    --header-height: 4.5rem;
    --btn-pink: rgb(255, 61, 239);
    --dd-li-pink: rgb(255, 168, 248);
    --btn-pink-border: rgb(255, 0, 234);
    --header-purple: rgba(89, 89, 255, .9);
    --list-bg: rgb(17, 22, 63);
}

*, *::after, *::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    font-family: 'Poppins', system-ui, sans-serif;
    background-color: rgb(9, 12, 34);
}

header {
    color: rgb(246, 246, 246);
    display: flex;
    background-color: var(--header-purple);
    backdrop-filter: blur(.5rem);
    justify-content: space-around;
    padding: 1rem;
    font-size: 1.5rem;
    height: var(--header-height);
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 9;
}

header a {
    color: white;
    text-decoration: none;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 2rem;
}

nav ul li {
    user-select: none;
    -webkit-user-select: none;
    cursor: pointer;
}

nav ul li::after {
    height: 2px;
    width: 0;
    display: block;
    content: '';
    background-color: white;
    transition: 230ms;
}

nav ul li:hover::after {
    width: 100%;
}

.burger-nav {
    display: none;
    position: absolute;
    right: 2rem;
    font-size: 2rem;
    top: 50%;
    transform: translateY(-50%);
}

section {
    height: calc(100vh - var(--header-height));
    min-height: 400px;
}

option {
    font-size: 2rem;
}

#hero {
    color: white;
    display: flex;
}

#hero-left {
    /* CHECK THIS */
    width: 65%;
    min-width: 65%;
    display: grid;
    text-align: center;
    place-content: center;
    padding: 4rem 3rem;
    font-size: 4rem;
    font-weight: 600;
}

.dropdown {
    display: inline-flex;
    position: relative;
    transform: translateY(-.3rem);
}

.dropdown > * {
    font-size: 2.5rem;
}

.dd-btn {
    padding: .5rem 1rem;
    border-radius: 2rem 2rem;
    cursor: pointer;
    border: 4px solid var(--btn-pink-border) ;
    background-color: var(--btn-pink);
    z-index: 1;
    border-radius: 20rem 20rem;
}

.dd-btn:hover {
    border: 4px solid rgb(255, 237, 254);
}

.dd-chevron {
    transition: transform 200ms ease;
}

.dd-list {
    position: absolute;
    top: 100%;
    left: 0;
    list-style: none;
    width: 100%;
    animation: dd-animation 400ms;
}

.dd-list li {
    background-color: var(--dd-li-pink);
    color: black;
    padding: .5rem;
    border-top: 2px solid rgb(222, 81, 218);
    text-align: right;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
}

.dd-list li:hover {
    background-color: var(--btn-pink);
}

.dd-list li:last-child {
    border-radius: 0 0 1rem 1rem;
}

#hero-right {
    flex-grow: 1;
    background-color: rgb(24, 32, 93);
    padding: 4rem 5rem;
    line-height: 3rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

#hero-right p {
    font-weight: 600;
}

.yellow-btn {
    background-color: rgb(255, 225, 0);
    padding: 1rem 2rem;
    font-size: 1.5rem;
    border: none;
    font-weight: 600;
    border-radius: 3rem;
    box-shadow: .25rem .25rem 2px 0 rgb(0, 0, 12);
    cursor: pointer;
}

.yellow-btn:hover {
    transform: translateY(-5%);
}

.yellow-btn:active {
    transform: translateY(0);
}

footer {
    height: 10vh;
    background: linear-gradient(rgb(12, 12, 12), rgb(26, 26, 26));
    color: #fff8;
    display: grid;
    place-content: center;
    padding: 6rem;
    text-align: center;
    line-height: 3rem;
}

/* Utility classes */

.hidden {
    display: none !important;
}

.mid-div {
    height: 1rem;
}

.hi-div {
    height: 2rem;
}

.lo-div {
    height: .5rem;
}

.rotated-90-ccw {
    transform: rotate(-90deg);
}

/* Media queries */
@media (max-width: 1300px) {
    #hero {
        flex-direction: column;
        height: auto;
    }

    .dropdown > * {
        font-size: 2rem;
    }

    #hero > * {
        width: 100%;
        height: 60vh;
    }

    #hero-left {
        font-size: 3rem;
    }

    #hero-right p {
        font-size: 2rem !important;
    }

    nav {
        font-size: 1.3rem;
    }
}

@media (max-width: 900px) {
    nav {
        display: none;
    }

    .burger-nav {
        display: block;
    }
}

/* Animations */

@keyframes dd-animation {
    0% {
        transform: translateY(-10%);
    }

    100% {
        transform: translateY(0);
    }
}

h1 {
    font-size: 2rem;
    color: white;
    display: flex;
    padding: 1.5rem;
    justify-content: left;
    padding-top: 2rem;
}

.list-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 1rem;
    cursor: pointer;
    background-color: var(--list-bg);
    width: 95vw;
    margin: auto;
    border-radius: 1rem;
    align-items: center;
}

.list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    padding: 10px;
    width: 100%;
    background-color: rgba(89, 89, 255, .9);
    color: white;
}

.item-img {
    width: 8rem;
    border-radius: 12px;
    float: left;
    height: 100%;
    aspect-ratio: 1/1;
}

.list-item h3 {
    font-weight: bold;
    font-size: 2rem;
}

.list-item p {
    display: block;
    font-size: 1.5rem;
    color: white;
    font-weight: normal;
}

.rating {
    display: flex;
    direction: row;
    font-size: 30px;
    color: rgb(209, 208, 202);
    cursor: pointer;
}

.watched-btn {
    padding: .5rem;
    font-size: 2rem;
    color: rgb(220, 150, 214);
    background-color: rgb(206, 19, 171);
    border-radius: .5rem;
    border: none;
    aspect-ratio: 1/1;
    width: 3.5rem;
}

/* Check height */
.item-separator {
    width: 1px;
    height: 3rem;
    background-color: rgba(0, 0, 0, 0.759);
}

.add-txt {
    display: grid;
    text-align: center;
    place-content: center;
    padding: 4rem;
    font-size: 4.5rem;
    font-weight: 600;
    color: rgba(143, 28, 215, 0.963);
}

.fa-film {
    font-size: 8rem !important;
}

/* .modal {
    text-align: center;
    place-content: center;
    padding: 4rem;
    background-color: white;
    border-radius: .5rem;
    font-size: 1.5rem;
    width: 30%;
} */

/* check center */
dialog {
    text-align: center;
    place-content: center;
    padding: 4rem;
    background-color: white;
    border-radius: .5rem;
    font-size: 1.5rem;
    width: 30%;
}

dialog::backdrop {
    background-color: rgba(44, 26, 92, 0.422);
}

.form {
    display: flex;
    flex-direction: column;
    font-size: 1rem;
}

#add-close-btn {
    background-color: rgb(201, 186, 24);
    padding: .5rem;
    font-size: 1.5rem;
    color: white;
    border-radius: .5rem;
}