.list-container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 1rem;
    background-color: var(--list-bg);
    width: 95vw;
    margin: auto;
    border-radius: 1rem;
    align-items: center;
    cursor: pointer;
}

.list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: .5rem;
    padding: 1rem;
    width: 100%;
    background-color: rgb(140, 0, 117);
    color: white;
}

.item-img {
    width: 8rem;
    border-radius: 12px;
    float: left;
    height: 100%;
    aspect-ratio: 1/1;
}

.list-item h3 {
    font-weight: bold;
    font-size: 2rem;
}

.list-item p {
    display: block;
    font-size: 1.5rem;
    color: white;
    font-weight: normal;
}

.watched-btn {
    padding: .5rem;
    font-size: 2rem;
    color: rgb(220, 150, 214);
    background-color: rgb(206, 19, 171);
    border-radius: .5rem;
    border: none;
    aspect-ratio: 1/1;
    width: 3.5rem;
}

.add-item-btn {
    font-size: 2rem;
}

.empty-placeholder {
    display: grid;
    text-align: center;
    place-content: center;
    cursor: pointer;
    padding: 4rem;
    font-size: 4.5rem;
    font-weight: 600;
    color: rgba(143, 28, 215, 0.963);
}

.fa-film {
    font-size: 8rem !important;
}

/* check center */
dialog {
    text-align: center;
    padding: 1.5rem;
    background-color: rgb(231, 222, 38);
    border-radius: 1rem;
    font-size: 1.5rem;
    width: 30%;
    margin: auto;
    border: none;
}

.modal-content {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
}

.modal-content > .twocols-grid {
    gap: 1.5rem;
    grid-template-columns: 20% 1fr !important;
    text-align: right;
    align-items: center;
}

dialog input {
    font-size: 1.5rem;
    border-radius: 1.5rem;
    border: none;
    padding: 0 1rem;
}

dialog h2 {
    font-size: 2rem;
}

dialog::backdrop {
    background-color: rgba(22, 13, 50, 0.608);
}

#add-close-btn {
    background-color: rgb(2, 142, 206);
    padding: 1rem 2rem;
    font-size: 1.5rem;
    color: white;
    border-radius: .5rem;
    font-weight: 600;
}

.modal-content .dd-list {
    font-size: 1rem;
}

.modal-duration {
    display: flex;
    gap: 1rem;
}

.modal-duration input {
    width: 5.5rem;
}

.custom-radio {
    color: white;
}