:root {
    --header-height: 4.5rem;
    --btn-pink: rgb(255, 61, 239);
    --dd-li-pink: rgb(255, 168, 248);
    --btn-pink-border: rgb(255, 0, 234);
    --header-purple: rgba(89, 89, 255, .9);
    --list-bg: rgb(23, 28, 66);
    --body-bg: rgb(11, 15, 44);
    --yellow-gold: rgb(227, 197, 0);
}

*, *::after, *::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    font-family: 'Poppins', system-ui, sans-serif;
    background-color: var(--body-bg);
}

button {
    cursor: pointer;
}

input[type="checkbox"] {
    cursor: pointer;
}

section {
    min-height: calc(100vh - var(--header-height));
}

option {
    font-size: 2rem;
}

dialog {
    text-align: center;
    padding: 1.5rem;
    background-color: rgb(231, 222, 38);
    border-radius: 1rem;
    font-size: 1.5rem;
    width: 30%;
    margin: auto;
    border: none;
    position: relative;
}

dialog input {
    font-size: 1.5rem;
    border-radius: 1.5rem;
    border: none;
    padding: 0 1rem;
}

dialog h2 {
    font-size: 2rem;
}

dialog::backdrop {
    background-color: rgba(22, 13, 50, 0.608);
}

a {
    text-decoration: none;
}

.modal-content {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
}

.modal-content > .twocols-grid {
    gap: 1.5rem;
    grid-template-columns: 20% 1fr !important;
    text-align: right;
    align-items: center;
}

.modal-btn {
    background-color: rgb(2, 142, 206);
    padding: 1rem 2rem;
    font-size: 1.5rem;
    color: white;
    border-radius: .5rem;
    font-weight: 600;
}

.close-modal-btn {
    background-color: transparent;
    border: none;
    color: var(--btn-pink-border);
    position: absolute;
    font-size: 2rem;
    top: 0.25rem;
    right: 0.25rem;
    cursor: pointer;
    aspect-ratio: 1 / 1;
    width: 2rem;
}

.close-modal-btn:hover {
    color:white;
}