#hero {
    height: calc(100vh - var(--header-height));
    min-height: 400px;
    color: white;
    display: flex;
}

#hero-left {
    /* CHECK THIS */
    width: 65%;
    min-width: 65%;
    display: grid;
    text-align: center;
    place-content: center;
    padding: 4rem 3rem;
    font-weight: 600;
}

#hero-left span {
    font-size: 4rem;
}

#hero-left .dropdown {
    transform: translateY(-.3rem);
}

#hero-left .dropdown > * {
    font-size: 2rem;
}

#hero-left .dropdown li {
    padding: .5rem;
}

h1 {
    font-size: 2rem;
    color: white;
    display: flex;
    padding: 1.5rem;
    justify-content: left;
    padding-top: 2rem;
}

#hero-right {
    flex-grow: 1;
    background-color: rgb(24, 32, 93);
    padding: 4rem 5rem;
    line-height: 3rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

#hero-right p {
    font-weight: 600;
}

.hr-fields-area {
    /* background-color: rgb(109, 38, 123); */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.hr-fields-area p {
    font-size: 1.5rem;
}

.hr-fields-area input {
    font-size: 1.5rem;
    padding: .5rem;
    border-radius: .5rem;
    border: none;
    background-color: #fff3;
    color: white;
    width: 100%;
}

.hr-fields-area button {
    font-size: 1.75rem;
    background-color: rgb(9, 226, 164);
    box-shadow: 1px 2px 0 2px #0006;
    border-radius: 3rem;
    font-weight: 600;
    padding: 1rem 2rem;
    border: none;
}

.login-section {
    text-align: center;
    padding: 1rem;
    background-color: rgb(109, 38, 123);
    border-radius: 1rem;
    font-size: 1rem;
    width: 100%;
    margin: auto;
    border: none;
}

.hr-alt-link {
    text-align: center;
    align-self: center;
    text-decoration: underline;
    cursor: pointer;
}