#hero {
    height: calc(100vh - var(--header-height));
    min-height: 400px;
    color: white;
    display: flex;
}

#hero-left {
    /* CHECK THIS */
    width: 65%;
    min-width: 65%;
    display: grid;
    text-align: center;
    place-content: center;
    padding: 4rem 3rem;
    font-weight: 600;
}

#hero-left span {
    font-size: 4rem;
}

#hero-left .dropdown {
    transform: translateY(-.3rem);
}

#hero-left .dropdown > * {
    font-size: 2rem;
}

#hero-left .dropdown li {
    padding: .5rem;
}

h1 {
    font-size: 2rem;
    color: white;
    display: flex;
    padding: 1.5rem;
    justify-content: left;
    padding-top: 2rem;
}

#hero-right {
    flex-grow: 1;
    background-color: rgb(24, 32, 93);
    padding: 4rem 5rem;
    line-height: 3rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

#hero-right p {
    font-weight: 600;
}