@media (max-width: 1300px) {
    #hero {
        flex-direction: column;
        height: auto;
    }

    .dropdown > * {
        font-size: 2rem;
    }

    #hero > * {
        width: 100%;
        height: 60vh;
    }

    #hero-left {
        font-size: 3rem;
    }

    #hero-right p {
        font-size: 2rem !important;
    }

    nav {
        font-size: 1.3rem;
    }
}

@media (max-width: 900px) {
    nav {
        display: none;
    }

    .burger-nav {
        display: block;
    }
}